/* styles/globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  /* set site background to Tailwind brand color */
  @apply bg-brand-primary text-white;
  /* entferne die alte Animation, falls nicht mehr benötigt */
  animation: none;
}

/* entferne oder passe die Keyframes wenn sie nicht mehr gebraucht werden */
@keyframes backgroundFade {
  0% {
    background-color: rgb(5, 2, 63);
  }
  100% {
    background-color: rgb(5, 2, 63);
  }
}
